{% extends 'shop/index.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/password.css' %}">
<div class="pass_container">
    <div>
        <h3>Enter new password</h3>
        <p>Please enter your new password twice so we can verify you typed it in correctly</p>
        <form method="POST" action="">
            {% csrf_token %}
            <p>New password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{form.new_password1}}</p>
            <p>Confirm password:&nbsp;&nbsp;&nbsp;&nbsp;{{form.new_password2}}</p>
            
            {% if form.is_bound and form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br>
            <br>
            <button class="btn btn-sm btn-info">Change my password</button>
        </form>
    </div>
</div>

{% endblock %}